@model MusiBuy.Common.Models.CommentManagementViewModel
@{
	ViewData["Title"] = " Comment Detail";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="toolbar" id="kt_toolbar">
	<div class="container-fluid d-flex flex-stack flex-wrap flex-sm-nowrap">
		<div class="breadcrumb-header justify-content-between">
			<div class="left-content">
				<h1 class="main-content-title tx-24 mg-b-1 mg-b-lg-1">
					Comment Detail
					<small class="text-muted fs-6 fw-normal ms-1"></small>
				</h1>
				<partial name="_BreadCrumb" />
			</div>
		</div>
	</div>
</div>
<div class="card">
	<div class="card-body">
		<form class="form-horizontal formstyle">

			<div class="row pt-1">
				<div class="col-sm-12 col-lg-6">
					<div class="row">
						<label for="inputEmail3" class="col-sm-12 col-lg-4">Post :</label>
						<div class="col-sm-12 col-lg-8">
							@Html.DisplayFor(model => model.PostName)
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-lg-6">
					<div class="row">
						<label for="inputEmail3" class="col-sm-12 col-lg-2">User :</label>
						<div class="col-sm-12 col-lg-10">
							@Html.DisplayFor(model => model.UserName)
						</div>
					</div>
				</div>
			</div>

			<div class="row pt-1">
				<div class="col-sm-12 col-lg-12">
					<div class="row">
						<label for="inputEmail3" class="col-sm-12 col-lg-2">Content :</label>
						<div class="col-sm-12 col-lg-10">
							@Html.DisplayFor(model => model.Comment)
						</div>
					</div>
				</div>
			</div>

			<div class="row pt-1">
				<div class="col-sm-12 col-lg-6">
					<div class="row">
						<label for="inputEmail3" class="col-sm-12 col-lg-4">Comment at :</label>
						<div class="col-sm-12 col-lg-8">
							@Html.DisplayFor(model => model. Timestamp)
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-lg-6">
					<div class="row">
						<label for="inputEmail3" class="col-sm-12 col-lg-2">Status :</label>
						<div class="col-sm-12 col-lg-10">
							@Html.DisplayFor(model => model.StatusName)
						</div>
					</div>
				</div>
			</div>

			<div class="row pt-1">
				<div class="col-sm-12 col-lg-6">
					<div class="row">
						<div class="col-sm-12 col-lg-9 col-lg-offset-3">
							<a asp-action="Index" class="formgraybtn mtp5 btn btn-custom">Back</a>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>