@model MusiBuy.Common.Models.CommentManagementViewModel
@using MusiBuy.Admin.Helper
@using MusiBuy.Common.Common
@using MusiBuy.Common.Enumeration
@using Kendo.Mvc.UI
@{
	ViewData["Title"] = "Comment Management";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
	.dots-btn {
		background: none;
		border: none;
		font-size: 20px;
		cursor: pointer;
	}

	.action-dropdown {
		position: absolute;
		display: inline-block;
	}

	.dropdown-content {
		display: none;
		position: absolute;
		right: 80%;
		top: 0;
		background-color: white;
		border: 1px solid #ccc;
		min-width: 100px;
		z-index: 9999;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
	}

		.dropdown-content a {
			color: #000;
			padding: 10px 14px;
			display: block;
			text-decoration: none;
		}

			.dropdown-content a:hover {
				background-color: #f5f5f5;
			}

	.ellipsis {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;
		max-width: 250px; /* Adjust as per column width */
	}
</style>




<script src="@Url.Content("~/kendo/js/kendo.js")" type="text/javascript"></script>
<div class="toolbar" id="kt_toolbar">
	<div class="container-fluid d-flex flex-stack flex-wrap flex-sm-nowrap">
		<div class="breadcrumb-header justify-content-between">
			<div class="left-content">
				<h1 class="main-content-title tx-24 mg-b-1 mg-b-lg-1">
					Comment Management
					<small class="text-muted fs-6 fw-normal ms-1"></small>
				</h1>
				<partial name="_BreadCrumb" />
			</div>
		</div>
	</div>
</div>
<div class="card">
	<div class="card-header border-0 pt-6">
		<div class="col-md-12">
			<div id="display-message">
				<partial name="_CommonMessages" />
			</div>
		</div>
		<div class="row align-items-center">
			<div class="col-lg-3">
				<div class="card-title mb-0">
					<div class="d-flex align-items-center position-relative c-searchbar my-1">
						<span class="svg-icon svg-icon-1 position-absolute ms-6">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
								<rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="black"></rect>
								<path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="black"></path>
							</svg>
						</span>
						<input type="text" id="txtSearch" placeholder="Search" class="form-control form-control-solid w-250px ps-14 me-4 searchName" maxlength="50" onkeyup="Search()" />
					</div>
				</div>
			</div>

			<div class="col-lg-3">
				<div class="card-toolbar">
					<div class="d-flex justify-content-end">
						@* <label asp-for="CreatorId">Creator</label> *@
						@* @Html.DropDownList("CreatorId", ViewBag.CreatorList as SelectList, "-- Select Creator --", new { @class = "form-control", onchange = "onCreatorPostFilterChange()" }) *@
						<select asp-for="CreatorId" asp-items="Model.SelectCreator" id="CreatorId" class="form-control borderfix" onchange="onCreatorFilterChange()">
							<option value="" selected="selected">- Select Creator -</option>
						</select>
						<input type="hidden" id="hdnCreatorId" name="CreatorId" value=@Model.CreatorId />
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="card-toolbar">
					<div class="d-flex justify-content-end">
						@* <label asp-for="PostId">Post</label> *@
						@* @Html.DropDownList("PostId", ViewBag.PostList as SelectList, "-- Select Post --", new { @class = "form-control", onchange = "onCreatorPostFilterChange()" }) *@
						<select asp-for="PostId" asp-items="Model.SelectPost" id="PostId" class="form-control borderfix" onchange="onPostFilterChange()">
							<option value="" selected="selected">- Select Post -</option>
						</select>
						<input type="hidden" id="hdnPostId" value="@Model.PostId" />
					</div>
				</div>
			</div>

			<div class="col-lg-3">
				<div class="card-toolbar">
					<div class="d-flex justify-content-end">
						@if (CurrentAdminSession.HasAddPermission)
						{
							<div class="clearfix ptp5 pbp15">
								<a asp-action="create" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add New</a>
							</div>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
	<form asp-action="Delete" method="post" onkeydown="return Comment.key != 'Enter';" class="form-horizontal formstyle">
		<div class="card-body pt-0">
			<div id="kt_table_users_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
				<div class="table-responsive">
					<table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer" id="kt_table_users">
						@(
													Html.Kendo().Grid<MusiBuy.Common.Models.CommentManagementViewModel>()
													.Name("grid")
													.Events(e => e.DataBound("onGridDataBound"))
													.Columns(columns =>
													{
														if (CurrentAdminSession.HasDeletePermission)
														{
															columns.Bound(x => x.Id).ClientTemplate("<div class='form-check form-check-sm form-check-custom form-check-solid'><input type='checkbox' id='chkDelete' name='chkDelete' class='form-check-input singleCheckBox' value='#= Id #' onclick='return initializeSingleCheckBox(this);' /></div>").HtmlAttributes(new { style = "text-align:center" }).ClientHeaderTemplate("<div class='form-check form-check-sm form-check-custom form-check-solid'><input class='form-check-input' id='allCheckBox' name='allCheckBox' type='checkbox' title='check all records' onclick='return initializeAllCheckBox();' /></div>").HeaderHtmlAttributes(new { @style = "text-align:center;" }).Filterable(false).Groupable(false).Sortable(false).Width("2%");
														}

														if (CurrentAdminSession.HasEditPermission)
														{
															columns.Bound(x => x.Id).ClientTemplate("<a href='" + Url.Action("Edit", "CommentManagement", new { id = "#= Id #" }) + "'" + " title='Edit'><span class='fe fe-edit'></span></a>").HtmlAttributes(new { @class = "textalign" }).ClientHeaderTemplate(" ").Filterable(false).Groupable(false).Sortable(false).Width("2%");
														}
														if (CurrentAdminSession.HasDetailPermission)
														{
															columns.Bound(u => u.Comment).ClientTemplate("<a href='" + Url.Action("Detail", "CommentManagement", new { id = "#= Id #" }) + "'" + " title = 'Detail' class='text-gray-800 text-hover-primary mb-1 ellipsis'>#= Comment #</a>").Title("Content").Width("15%");
														}
														else
														{
															columns.Bound(user => user.Comment).Title("Content").Width("15%").ClientTemplate("<div class='ellipsis'>#= Comment #</div>");
														}
														columns.Bound(u => u.PostName).Title("Post Title").Width("20%");
														columns.Bound(user => user.UserName).Title("User").Width("20%");
														columns.Bound(user => user.Timestamp).Title("Comment at ").Format(GlobalCode.DefaultGridDateTimeFormat).Width("10%");
														columns.Bound(user => user.StatusName).Title("Status").Width("5%");

														@* columns.Template("<text><div class='dropdown'><button class='dots-btn'>⋮</button><div class='dropdown-content'><a href=" + Url.Action("Delete", "CommentManagement", new { id = "#= Id #" }) + ">Deleted</a><a href= " + Url.Action("Detail", "CommentManagement", new { id = "#= Id #" }) + " >Preview</a></div></div></text>").HtmlAttributes(new { style = "text-align:center" }).ClientHeaderTemplate("<div class='form-check form-check-sm form-check-custom form-check-solid'><input class='form-check-input' id='allCheckBox' name='allCheckBox' type='checkbox' title='check all records' onclick='return initializeAllCheckBox();' /></div>").HeaderHtmlAttributes(new { @style = "text-align:center;" }).Width("20%"); *@
														@* columns.Template(@"<text><div class='action-dropdown'><button type='button' class='dots-btn'>⋮</button><div class='dropdown-content'> <a href='#'>Delete</a><a href='#'>Preview</a></div></div></text>").Title("Action").HtmlAttributes(new { @class = "textalign" }).Width(10); *@

														@* columns.Bound(x => x.Id).ClientTemplate(@"<text><div class='action-dropdown'><button type='button' class='dots-btn'>⋮</button><div class='borderfix dropdown-content'><a href='javascript:void(0);' onclick='updateStatus(#= Id #, " + (int)CommentStatusEnum.Approved + ")'>Approve</a><a href='javascript:void(0);' onclick='updateStatus(#= Id #, " + (int)CommentStatusEnum.Rejected + ")'>Reject</a></div></div></text>")
																		.Title("Action")
																		.HtmlAttributes(new { @class = "textalign" })
																		.Width("2%"); *@



														columns.Template(@"<text class='d-flex align-items-center'><div class='action-dropdown'><button type='button' class='dots-btn'>⋮</button><div class='borderfix dropdown-content'># if (StatusId != 18) { #<a href='javascript:void(0);' onclick='updateStatus(#= Id #, " + (int)CommentStatusEnum.Approved + ")'>Approve</a># } else { #<a href='javascript:void(0);' class='disabled' style='pointer-events: none; opacity: 0.5;'>Approved</a># } ## if (StatusId != 20) { #<a href='javascript:void(0);' onclick='updateStatus(#= Id #, " + (int)CommentStatusEnum.Rejected + ")'>Reject</a># } else { #<a href='javascript:void(0);' class='disabled' style='pointer-events: none; opacity: 0.5;'>Rejected</a># } #</div></div></text>")
														.Title("Action")
														.HtmlAttributes(new { @class = "textalign" })
														.Width("2%");

													})
													.Pageable(pageable => pageable.Refresh(true)
													.PageSizes(GlobalCode.RecordPerPageList)
													.ButtonCount(GlobalCode.ButtonCount)
													.Input(true).Numeric(true))
													.Groupable(false)
													.Filterable(f => f.Extra(true))
													.Sortable()
													.DataSource(dataSource => dataSource
													.Ajax().Model(model => model.Id(x => x.Id))
													.Read(read => read.Action("_AjaxBinding", "CommentManagement").Data("FilterData")))

													.EnableCustomBinding(false))
					</table>
					@if (CurrentAdminSession.HasDeletePermission)
					{
						<div class="pbp15 d-flex mt-3">
							<button class="btn btn-primary" onclick="return Check_CheckBox_Count(this);" type="button"><i class="fa fa-times" aria-hidden="true"></i> Delete</button>
						</div>
					}
				</div>
			</div>
		</div>
	</form>
</div>
@section Scripts {
	<script src="@Url.Content("~/js/common/jquery.maskedinput.min.js")"></script>
	<script src="@Url.Content("~/js/custom/commentmanagement.js")"></script>
	<script src="@Url.Content("~/js/custom/user.js")"></script>
	<script>
		window.FilterData = function () {
			const creator = parseInt($("#CreatorId").val()) || null;
			const post = parseInt($("#PostId").val()) || null;
			const searchValue = $("#txtSearch").val() || "";
			return {
				creatorId: creator,
				postId: post,
				searchValue: searchValue
			};
		};

			 // Close all dropdowns
		function closeAllDropdowns() {
			$(".dropdown-content").hide();
		}

		// Toggle dropdown on button click
		$(document).on("click", ".dots-btn", function (e) {
			e.stopPropagation(); // prevent body click from closing it immediately
			closeAllDropdowns();
			$(this).siblings(".dropdown-content").toggle(); // toggle only this one
		});

		// Hide dropdown when clicking anywhere else
		$(document).on("click", function () {
			closeAllDropdowns();
		});

	</script>
}