@model MusiBuy.Common.Models.RecipientViewModel
@{
    ViewData["Title"] = "Recipient Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="toolbar" id="kt_toolbar">
    <div class="container-fluid d-flex flex-stack flex-wrap flex-sm-nowrap">
        <div class="breadcrumb-header justify-content-between">
            <div class="left-content">
                <h1 class="main-content-title tx-24 mg-b-1 mg-b-lg-1">
                    Recipient Detail
                    <small class="text-muted fs-6 fw-normal ms-1"></small>
                </h1>
                <partial name="_BreadCrumb" />
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-content collapse show">
        <div class="card-body">
            <form class="form-horizontal formstyle">
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <div class="row">
                            <label asp-for="TemplateName" class="col-sm-12 col-lg-3">Template name :</label>
                            <div class="col-sm-12 col-lg-6">
                                @Html.DisplayFor(model => model.TemplateName)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-1">
                    <div class="col-sm-12 col-lg-6">
                        <div class="row">
                            <label asp-for="FirstName" class="col-sm-12 col-lg-3">First name :</label>
                            <div class="col-sm-12 col-lg-6">
                                @Html.DisplayFor(model => model.FirstName)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-1">
                    <div class="col-sm-12 col-lg-6">
                        <div class="row">
                            <label asp-for="LastName" class="col-sm-12 col-lg-3">Last name :</label>
                            <div class="col-sm-12 col-lg-6">
                                @Html.DisplayFor(model => model.LastName)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-1">
                    <div class="col-sm-12 col-lg-6">
                        <div class="row">
                            <label asp-for="Email" class="col-sm-12 col-lg-3">Email :</label>
                            <div class="col-sm-12 col-lg-6">
                                @Html.DisplayFor(model => model.Email)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-1">
                    <div class="col-sm-12 col-lg-6">
                        <div class="row">
                            <label asp-for="Active" class="col-sm-12 col-lg-3">Status :</label>
                            <div class="col-sm-12 col-lg-6">
                                @Html.DisplayFor(model => model.Active)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-1">
                    <div class="col-sm-12 col-lg-6">
                        <div class="row">
                            <div class="col-sm-12 col-lg-9 col-lg-offset-3">
                                <a asp-action="Index" asp-controller="Recipient" asp-route-id="@Model.TemplateId" class="formgraybtn mtp5 btn btn-custom">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>