@model MusiBuy.Common.Models.HomeViewModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="breadcrumb-header justify-content-between">
    <div class="left-content">
        <div>
            <h2 class="main-content-title tx-24 mg-b-1 mg-b-lg-1">Dashboard</h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-sm-3">
        <div class="card" style="width: 18rem;">
            <a asp-action="Index" asp-controller="FrontUser">

                <h3 class="text-center text-primary mt-4"><i class="fa-solid fa-user"></i>  @Model.TotalUser</h3>
                <div class="card-body">
                    <p class="text-center text-muted">Total User</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-3">
        <div class="card" style="width: 18rem;">
            <a asp-action="Index" asp-controller="FrontUser">
                <h3 class="text-center text-primary mt-4"><i class="fa-solid fa-microphone"></i>  @Model.TotalCreators</h3>
                <div class="card-body">
                    <p class="text-center text-muted">Total Creators</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-3">
        <div class="card" style="width: 18rem;">
            @* <a asp-action="Index" asp-controller="InsuranceMaster"> *@
                <h3 class="text-center text-primary mt-4"><i class="fa-solid  fa-credit-card"></i>  @Model.TotalTokenPuchased</h3>
                <div class="card-body">
                    <p class="text-center text-muted">Total Tokens Purchased</p>
                </div>
            @* </a> *@
        </div>
    </div>
    <div class="col-md-3 col-sm-3">
        <div class="card" style="width: 18rem;">
            @* <a asp-action="IndexAll" asp-controller="Insurance"> *@
            <h3 class="text-center text-primary mt-4"><i class="fa-solid fa-chart-line"></i>  @Model.RevenueGenerated</h3>
                <div class="card-body">
                <p class="text-center text-muted">Revenue Generated.</p>
                </div>
            @* </a> *@
        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-3 col-sm-3">
        <div class="card" style="width: 18rem;">
            <a asp-action="Index" asp-controller="PostManagement">

                <h3 class="text-center text-primary mt-4"><i class="fa-solid fa-music"></i>  @Model.TotalAudioPost</h3>
                <div class="card-body">
                    <p class="text-center text-muted">Total Audio Post</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-3">
        <div class="card" style="width: 18rem;">
            <a asp-action="Index" asp-controller="PostManagement">
                <h3 class="text-center text-primary mt-4"><i class="fa-solid fa-video-camera"></i>  @Model.TotalVideoPost</h3>
                <div class="card-body">
                    <p class="text-center text-muted">Total Video Post</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-3">
        <div class="card" style="width: 18rem;">
            <a asp-action="Index" asp-controller="PostManagement">
                <h3 class="text-center text-primary mt-4"><i class="fa-solid  fa-image"></i>  @Model.TotalImagePost</h3>
            <div class="card-body">
                <p class="text-center text-muted">Total Image Post</p>
            </div>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-3">
        <div class="card" style="width: 18rem;">
            <a asp-action="Index" asp-controller="PostManagement">
                <h3 class="text-center text-primary mt-4"><i class="fa-solid fa-file-text"></i>  @Model.TotalTextPost</h3>
            <div class="card-body">
                <p class="text-center text-muted">Total Text Post.</p>
            </div>
            </a>
        </div>
    </div>
</div>

@* <div class="row">
    <div class="col-md-6 col-sm-6">
        <div class="card">
            <a asp-action="Index" asp-controller="CategoryMaster">
                <h3 class="text-center text-primary mt-4"><i class="fa-solid fa-user"></i>  @Model.Category</h3>
                <div class="card-body">
                    <p class="text-center text-muted">Posts</p>
                </div>
            </a>
        </div>
    </div>

    <div class="col-md-6 col-sm-6">
        <div class="card">
            <a asp-action="Index" asp-controller="AgencyMaster">
                <h3 class="text-center text-primary mt-4"><i class="fa-solid fa-microphone"></i>  @Model.Agency</h3>
                <div class="card-body">
                    <p class="text-center text-muted">Top Creators</p>
                </div>
            </a>
        </div>
    </div>
</div> *@

<div class="container">
    <div class="col-md-12">
        <div id="display-message">
            <partial name="_CommonMessages" />
        </div>
    </div>
</div>
